{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Sign Up' %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Login" %}</h3>

            <p>Welcome back to the Dolce Vita Venice blog.
                To leave a comment or like a post, please log
                in. If you have not created an account yet, then 
                <a class="link-register" href="{{ signup_url }}">register</a>
                first.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                <button class="btn btn-signup btn-submit" type="submit">{% trans 'Login' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}