* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-style: Garamond, sans-serif;
    color: #3f3f3f;
    background-color: white;
}

/* Navbar */

.navbar {
    background-color: #000000;
    color: white;
}

.h1 {
    font-family: 'Libre Bodoni', serif;
    text-align: center;
    padding-top: 25px;
}

h3 .food {
    color: #ff4d00;
    font-size: 200%;
}

h3 .drink {
    color: #ff0000;
    font-size: 200%;
}

h3 .share {
    color: #443737;
    font-size: 200%;
}

/* Blockquote */

.blockquote {
    font-family: 'Pacifico', sans-serif;
    background-color: #D83F31;
    color: #443737;
    padding: 10px;
}

.container-wrapper-dark {
    font-family: garamond, sans-serif;
    color: #3f3f3f;
}

.container-wrapper-info {
    font-family: garamond, sans-serif;
    color: #3f3f3f;
}

p {
    font-family: garamond, sans-serif;
    color: #3f3f3f;
    text-align: justify;
}

/*Blog card*/

.blog_card {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px #443737, 10px 10px #ff4d00;
    margin: 20px;
}

/*Pagination*/

.pagination_blog {
    color: #443737;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination_blog a.active {
    background-color: #ff4d00;
    color: white;
    border-radius: 5px;
}

.pagination_blog a:hover:not(.active) {
    background-color: #D83F31;
    border-radius: 5px;
}


/*Signup*/

.btn-submit {
    background-color: #D83F31;
    min-width: 100px;
    padding: 10px;
    margin: 10px;
}

/* Edit/Delete Buttons*/

.btn-edit {
    min-width: 100px;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    color: white;
}

.btn-submit:hover {
    background-color: #443737;
}

/* Footer */

footer {
    background-color: #D83F31;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
    padding: 1%;
}

.social-media i {
    margin: 1%;
    padding: 1%;
    color: black;
    font-size: 200%;
}

/* Blog Entries Column */

.blog_title {
    color: #D83F31;
}

.post-link {
    text-decoration: none;
}

.post_text {
    font-family: garamond, sans-serif;
    text-decoration: none;
}

.read {
    font-family: garamond, sans-serif;
    color: #D83F31;
}

/* Post detail */

.btn-back {
    margin-left: 20px;
    margin-top: 20px;
}

/* Social share */

.social-sharing {
    float: left;
    margin-left: 10px
}

.social-sharing i {
    margin: 1%;
    padding: 1%;
    font-size: 200%;
}

.btn-social {
    background-color: white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button-fb {

  color: black; 
  border: 3px solid #3B5998;
}

.button-fb:hover {
    background-color: #3B5998;
    color: white;
}

.button-x {
  color: black; 
  border: 3px solid black;
}

.button-x:hover {
    background-color: black;
    color: white;
}

.button-w {
  color: black; 
  border: 3px solid green;;
}

.button-w:hover {
    background-color: green;
    color: white;
}

.fa-facebook {
    background-color: #3B5998;
    color: white;;
}

.fa-twitter {
    background-color: black;
    color: white;;
}

.fa-whatsapp {
    background-color: green;
    color: white;
}

.about_link {
    text-transform: uppercase;
    color: #ff4d00;
    font-size: 200%;
}

.about_link:hover {
    color: #D83F31;
}

.about_link:visited {
    color: #272121;
}

.about_link:active {
    color: white;
}

