* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-style: Garamond, sans-serif;
    color: #3f3f3f;
    background-color: white;
}

/* Navbar */

.navbar {
    background-color: black;
    color: white;
}

.h1 {
    font-family: 'Libre Bodoni', serif;
    text-align: center;
    padding-top: 25px;
}

/* Blockquote */

.blockquote {
    font-family: 'Pacifico', sans-serif;
    background-color: rgba(216, 63, 49, 0.5);
    color: darkslategrey;
    padding: 10px;
}

.container-wrapper-dark {
    font-family: garamond, sans-serif;
    color: #3f3f3f;
}

.container-wrapper-info {
    font-family: garamond, sans-serif;
    color: #3f3f3f;
}

p {
    font-family: garamond, sans-serif;
    color: #3f3f3f;
    text-align: justify;
}

/*Signup*/

.btn-submit {
    background-color: #D83F31;
    min-width: 100px;
    padding: 10px;
    margin: 10px;
}

/* Edit/Delete Buttons*/

.btn-edit {
    min-width: 100px;
    padding: 10px;
    margin: 10px;
    color: white;
}

.btn-submit:hover {
    background-color: grey;
}

/* Footer */

footer {
    background-color: rgba(216, 63, 49, 0.5);
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
    padding: 1%;
}

.social-media i {
    margin: 1%;
    padding: 1%;
    color: black;
    font-size: 200%;
}

/* Blog Entries Column */

.blog_title {
    color: #D83F31;
}

.post-link {
    text-decoration: none;
}

.post_text {
    font-family: garamond, sans-serif;
    text-decoration: none;
}

.read {
    font-family: garamond, sans-serif;
    color: #D83F31;
}

/* Post detail */

.btn-back {
    margin-left: 20px;
    margin-top: 20px;
}

.social-sharing {
    float: left;
    margin-left: 10px
}

.social-sharing i {
    margin: 1%;
    padding: 1%;
    font-size: 200%;
}

.btn-social {
    background-color: white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button-fb {

  color: black; 
  border: 3px solid #3B5998;
  text-decoration: none;
}

.button-x {

  color: black; 
  border: 3px solid black;
  text-decoration: none;
}

.button-w {

  color: black; 
  border: 3px solid green;
  text-decoration: none;
}

.fa-facebook {
    background-color: #3B5998;
    color: white;
    text-decoration: none;
}

.fa-twitter {
    background-color: black;
    color: white;
    text-decoration: none;
}

.fa-whatsapp {
    background-color: green;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}