* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-style: Garamond, sans-serif;
    color: rgba(3, 26, 24, 0.5);
    background-color: white;
}

.h1 {
    font-family: 'Libre Bodoni', serif;
    text-align: center;
    padding-top: 25px;
}

/* Navbar */

.navbar {
    background-color: black;
    color: white;
}

/* Footer */

footer {
    background-color: rgba(216, 63, 49, 0.5);
    color: white;
    padding: 15px;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    margin: 1%;
    padding: 5%;
    font-size: 200%;
    color: black;
}