{% extends 'base.html' %} 
{% block content %}

<div class="jumbotron jumbotron-fluid container-wrapper-dark">
    <div class="container text-center">
        <h1 class="display-4">Wrong address</h1>
        <h2 class="h3">Ooops! Error: HTTP 404 Not Found</h2>
        <p class="lead">I cannot find the file you requested!</p>
        <p class="post_text">Please use the button below to return to the Dolce Vita website and by clicking on the
            button below.</p>
        <p class="post_text">
            <a class="btn btn-signup btn-submit" href="{% url 'home' %}" role="button"> Home</a>
    </div>
</div> 
{% endblock %}