{% extends 'base.html' %}

{% block content %}

<div class="container text-justify container-wrapper-info">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
          <h1 class="card-title text-uppercase text-decoration-none blog_title text-center">About Us</h1>
          <p class="card-text post_text">This blog is created to share tips, suggestions and practical advice on all things food and drink related to a visit in Venice.</p>
          <p class="card-text post_text">This blog is passionate about the topic and committed to providing accurate and reliable information.</p>
          <p class="card-text post_text">Any contirbution is highly welcome. Feel free to get in touch for more information or to say hello. email: dolce-vita@gmail.com</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}