{% extends 'base.html' %}
{% load cloudinary %}
{% cloudinary post.featured_image %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Add Post -->
    <div class="container text-justify">
        <div class="row">
            <div class="col-sm-12">
                <h1>Share your Venice food and drink stories below:</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <hr>
                    <button type="submit" class="btn btn-signup btn-submit">Submit</button>
                </form>
                </div>
            </div>
        </div>
{% endblock content %}