{% extends 'base.html' %}
{% load cloudinary %}
{% cloudinary post.featured_image %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Add Post -->
<section>
    <div class="container fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-3 offset-md-2">
                <h1 id="add-post-heading">Share your Venice food and drink stories below:</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-left mt-3">
                        <small>*Author biography not required field, max 6000 characters
                        </small>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button type="submit" class="btn-submit btn-primary me-2"
                        aria-label="Submit Post">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}