{% extends "base.html" %}

{% block title %}
Catlist
{% endblock %}

{% block content %}


<!-- Title Section -->
<section>
    <div class="jumbotron jumbotron-fluid container-wrapper-dark">
        <div class="container text-center">
            <h1> {{ post.category }} Posts</h1>
        </div>
    </div>
</section>

{{ % for post in catlist.posts % }}

<section>
    <div class="container-fluid">
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    <div class="card-group col-md-4">
                        <div class="card border-dark card mb-4">
                            <div class="card-body">
                                <div class="card-header bg-light text-dark">{{ post.category }}</div>
                                <a href="{% url 'post_detail' post.slug  %}" class="post-link blog_title">
                                    <h4 class="card-title text-uppercase text-decoration-none blog_title text-center">{{ post.title | truncatechars:50 }}</h2>
                                </a>
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top img-thumbnail rounded"
                                        src="https://afar.brightspotcdn.com/dims4/default/75b7351/2147483647/strip/true/crop/1166x800+217+0/resize/660x453!/format/webp/quality/90/?url=https%3A%2F%2Fafar-media-production-web.s3.us-west-2.amazonaws.com%2Fbrightspot%2F50%2F45%2F36ae8762e22c5c0500a03a440769%2Foriginal-29bb7b0628149153e5b15f20cc479464.jpg">
                                    {% else %}
                                    <img class="card-img-top img-thumbnail rounded"
                                        src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                    <div class="blog_author">
                                        <p><i class="fa-solid fa-user"></i> {{ post.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                    <p class="post_text">{{ post.excerpt | truncatechars:50 }}</p>
                                    <p class="fst-normal text-end read">Read more...</p>
                                </a>
                                <hr />
                                <footer class="blockquote-footer fw-bold">{{ post.created_on}} <i
                                        class="fa-regular fa-thumbs-up"></i>
                                    {{ post.number_of_likes }}</footer>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Pagination -->
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>

{% else %}

<h2>Sorry this post does not exist...</h2>

{% endif %}

{{ % endfor % }}


{% endblock %}