{% extends "base.html" %} 
{% block content %} 
{% if category_posts %}

<!-- Title Section -->
    <div class="jumbotron jumbotron-fluid container-wrapper-dark">
        <div class="container text-center">
            <h1>Posts by Category</h1>
        </div>
    </div>

<!-- Main container for Post Category content (displaying 1 of 6 categories) -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for post in category_posts %}
            {% if post.status == 1 %}
                <div class="card-group col-md-4">
                    <div class="card border-dark card mb-4 blog_card">
                        <div class="card-body">
                            <a href="{% url 'category' post.category %}" class="post-link">
                                <div
                                    class="card-header bg-dark text-light text-uppercase text-decoration-none text-center">
                                    {{ post.category | title }}
                                </div>
                            </a>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link blog_title">
                                <h4 class="card-title text-decoration-none blog_title text-center">
                                    {{ post.title | truncatechars:100 }}
                                </h4>
                            </a>
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top img-thumbnail rounded"
                                    src="https://res.cloudinary.com/df7xksq2h/image/upload/v1699453603/dolcevita/igor-oliyarnik-Uu5aXBI1oLk-unsplash_ipmcev.jpg"
                                    alt="Image of table at Venice restaurant">
                                {% else %}
                                <img class="card-img-top img-thumbnail rounded img-fluid"
                                    src="{{ post.featured_image.url }}" alt="Image of Venice">
                                {% endif %}
                                <div class="blog_author">
                                    <p><i class="fa-solid fa-user"></i>
                                        {{ post.author | title }}
                                    </p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <p class="post_text">{{ post.excerpt| truncatechars:250 }}
                                </p>
                                <p class="fst-normal text-end read" data-bs-toggle="collapse">
                                    Read more...
                                </p>
                            </a>
                            <footer class="footer fw-bold">
                                {{ post.created_on}} |
                                <i class="fa-regular fa-clock"></i>
                                {{ post.read_time }} mins |
                                <i class="fa-regular fa-thumbs-up"></i>
                                {{ post.number_of_likes }}
                            </footer>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                </div>
                    <div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        <!-- Pagination -->
        {% if is_paginated %}
        <nav aria-label="Page navigation pagination_blog">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV
                    </a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        </div>
    {% else %}
    <div class="container text-justify container-wrapper-info">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">
                    <h2 class="blog_title">Sorry there are no posts in this category. 
                        Please use the link below to return to the homepage.</h2>
                        <a href="{% url 'home' %}" class="btn btn-signup btn-edit">Home
                        </a>
                </div>
            </div>
        </div>
    </div>
{% endif %} {% endblock content %}