{% extends 'base.html' %} 
{% load cloudinary %} 
{% load crispy_forms_tags %} 
{% block content %}

<!-- Comment Edit -->

<div class="container text-justify">
    <div class="row">
        <div class="col-sm-12">
            <h1>Edit your comment below:</h1>
            <form method="POST"> {% csrf_token %} {{ form | crispy }}
            <hr>
            <button type="submit" class="btn btn-signup btn-submit text-white">Update</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}