{% extends "base.html" %}

{% block content %}

<!-- Hero Image carousel-->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active"><img class="d-block w-100" 
            src="https://res.cloudinary.com/df7xksq2h/image/upload/v1699451360/dolcevita/cristina-gottardi-reyrEqzQrj4-unsplash_1600x500-hero_qmkrsr.jpg" 
            alt="Evening image of Venice">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="h1">Eat Venice</h1>
                <h3 class="h3">Taste of what this enchanting city has to offer</h3>
            </div>
        </div>
        <div class="carousel-item"><img class="d-block w-100" 
            src="https://res.cloudinary.com/df7xksq2h/image/upload/v1699451379/dolcevita/dylan-freedom-I14L_1L7LZg-unsplash_1600x500-hero_gca7bb.jpg" 
            alt="Black and white image of Venice">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="h1">Drink Venice</h1>
                <h3 class="h3">The best wines from around the Venento region</h3>
            </div>
        </div>
        <div class="carousel-item"><img class="d-block w-100" 
            src="https://res.cloudinary.com/df7xksq2h/image/upload/v1699451794/dolcevita/andrea-cairone-C-CU0Y26TII-unsplash_1600x500-hero_jpr64x.jpg" 
            alt="Man harvesting grapes">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="h1">Share your stories</h1>
                <h3 class="h3">Join in with the conversation</h3>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Introduction section-->
    <div class="jumbotron jumbotron-fluid container-wrapper-dark">
        <div class="container text-center">
            <h2>Welcome to Venice</h2>
            <h3>
                <small class="text-muted">
                    "The guide on the best food and drink to be found in Venice"
                </small>
            </h3>
        </div>
    </div>


<!-- Features section -->
    <div class="container-fluid text-center container-wrapper-info">
        <div class="row">
                        <div class="col-sm">
                            <i class="fa-solid fa-pizza-slice"></i>
                            <hr>
                            <p>In this blog, we'll delve into the
                            delectable world of food in Venice, offering 
                            a taste of what this enchanting city has to offer.
                        </p>
                        </div>
                        <div class="col-sm">
                            <i class="fa-solid fa-wine-glass"></i>
                            <hr>
                            <p>What is the meaning of life? To Italians, 
                                it means going out after a long day at work, 
                                chatting with
                                some friends, drinking good wine.
                            </p>
                        </div>
                        <div class="col-sm">
                            <i class="fa-solid fa-share"></i>
                            <hr>
                            <p>Why not join in with the conversation, 
                                and let us know your experiences 
                                in this enchanting city.
                            </p>
                        </div>
                    </div>
                </div>

    <!-- Blockquote -->
    <div class="container text-center">
        <blockquote class="blockquote">
            <span>Chi viaggia vive due volte” Life is a voyage!</span>
            <hr class="block-divider block-divider--short block-divider--white">
            <span>Those who travel live twice!</span>
        </blockquote>
    </div>

<!-- Blog Entries Column -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in post_list %}
                    <div class="card-group col-md-4">
                        <div class="card border-dark card mb-4 blog_card">
                            <div class="card-body">
                                <a href= "{% url 'category' post.category %}" class="post-link">
                                <div class="card-header bg-dark text-light text-uppercase text-decoration-none text-center">
                                    {{ post.category | title }}
                                </div>
                                </a>
                                <a href= "{% url 'post_detail' post.slug  %}" class="post-link blog_title">
                                    <h4 class="card-title text-decoration-none blog_title text-center">
                                        {{ post.title | truncatechars:50 }}
                                    </h4>
                                </a>
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top img-thumbnail rounded" 
                                    src="https://res.cloudinary.com/df7xksq2h/image/upload/v1699453603/dolcevita/igor-oliyarnik-Uu5aXBI1oLk-unsplash_ipmcev.jpg" 
                                    alt="Image of table at Venice restaurant">
                                    {% else %}
                                    <img class="card-img-top img-thumbnail rounded img-fluid" 
                                    src="{{ post.featured_image.url }}" 
                                    alt="Image of Venice">
                                    {% endif %}
                                    <div class="blog_author">
                                        <p><i class="fa-solid fa-user"></i> 
                                            {{ post.author | title }}
                                        </p>
                                    </div>
                                </div>
                                <a href= "{% url 'post_detail' post.slug  %}" class="post-link">
                                    <p class="post_text">{{ post.excerpt| truncatechars:200 }}
                                    </p>
                                    <p class="fst-normal text-end read" data-bs-toggle="collapse">
                                        Read more...
                                    </p>
                                </a>
                                <footer class="footer fw-bold">
                                    {{ post.created_on}} | 
                                    <i class="fa-regular fa-clock"></i> 
                                    {{ post.read_time }} mins |
                                    <i class="fa-regular fa-thumbs-up"></i> 
                                    {{ post.number_of_likes }}
                                </footer>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Pagination -->
        {% if is_paginated %}
        <nav aria-label="Page navigation pagination_blog">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV 
                    </a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

{% endblock %}