{% extends "base.html" %}

{% block content %}

<!-- Title Section -->
<section>
    <div class="jumbotron jumbotron-fluid container-wrapper-dark">
        <div class="container text-center">
            <h1>Welcome to Venice</h1>
            <p>"The guide to the best food and drink to be found in Venice"</p>
        </div>
    </div>

    <!-- Blockquote -->
    <div class="container text-center">
        <blockquote class="blockquote">
            <p>Chi viaggia vive due volte” Life is a voyage!</p>
            <hr class="block-divider block-divider--short block-divider--white">
            <p>Those who travel live twice!</p>
        </blockquote>
</section>

<section>
    <div class="container text-center container-wrapper-gold">
        <div class="row">
            <div class="col-sm-12">
                <p class="text">
                    Venice, the "City of Canals," is renowned for its picturesque waterways, historic architecture, and
                    unique culture.
                    However, one aspect of Venetian culture that often takes centre stage is its exquisite food and
                    drink. As you meander through its labyrinthine streets, you'll discover a gastronomic journey that
                    combines traditional
                    Italian flavours with the city's unique maritime heritage. In this blog, we'll delve into the
                    delectable world of food and
                    drink in Venice, offering a taste of what this enchanting city has to offer.
                </p>
            </div>
        </div>
    </div>

    <div class="container text-center container-wrapper-red">
        <div class="row">
            <div class="col-sm-12">
                <p class="text">
                    Venice truly is a food lover's paradise, and each bite is a celebration of the city's timeless
                    charm.
                    Venice's culinary scene is a testament to the city's rich history and unique culture. From cicchetti
                    to seafood
                    feasts and sweet endings, Venice offers a diverse range of flavours that will leave you craving
                    more. As you explore
                    this enchanting city, take the time to savour the food and drink, and let your taste buds embark on
                    a culinary
                    odyssey like no other. Venice truly is a food lover's paradise, and each bite is a celebration of
                    the city's timeless charm.
                    What is the meaning of life? To Italians, it means going out after a long day at work, chatting with
                    some friends, drinking good wine, and enjoying good food. And in Venice, there’s a specific
                    tradition and a unique place
                    linked to this way of life. Buon appetito!
                </p>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container-fluid">
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">

                </div>
            </div>
        </div>

    </div>
</section>


{%endblock%}