{% extends 'base.html' %} 
{% load cloudinary %} 
{% load crispy_forms_tags %} 
{% block content %}

<!-- Post Delete -->
<div class="container text-justify">
    <div class="row">
        <div class="col-sm-12">
            <h2>Delete: {{ post.title }}?</h2>
            <form method="POST"> {% csrf_token %} {{ form | crispy }}
            <hr>
            <strong>Are you sure you want to delete this post?</strong>
            <hr>
            <button type="submit" class="btn-submit btn-primary me-2">Delete Post</button>
            <a href="{% url 'post_detail' post.slug %}" class="btn-submit btn-primary me-2">Cancel</a>
            </form>
        </div>
    </div>
</div> 

{% endblock content %}