{% extends 'base.html' %} {% load cloudinary %} {% load crispy_forms_tags %} {% block content %}
<!-- Post Title -->
    <div class="container text-justify">
        <div class="row">
            <div class="col-sm-12">
                <h1>Edit your Venice food and drink stories below:</h1>
                <form method="POST"> {% csrf_token %} {{ form | crispy }}</form>
                    <hr>
                    <button type="submit" class="btn btn-signup btn-submit">Update</button>
            </div>
        </div>
    </div>
{% endblock content %}