{% extends 'base.html' %} 
{% block content %} 
{% load crispy_forms_tags %} 
{% load social_share %}

<!-- Post Title -->
    <div class="container text-center">
        <div class="col-sm-12">
            <h1 class="blog_title">{{ post.title }}</h1>
            <h6 class="card-subtitle mb-2 text-muted"> 
                {{ post.read_time }} mins 
                <i class="fa-regular fa-user"></i> 
                {{ post.author | title }} | 
                <i class="fa-regular fa-clock"></i> 
                {{ post.created_on }}
            </h6>
        </div>
        <hr>
        <!-- Post Content -->
        <div class="clearfix">
            <div class="img rounded mx-auto"> 
                {% if "placeholder" in post.featured_image.url %} 
                <img src="https://res.cloudinary.com/df7xksq2h/image/upload/v1699453603/dolcevita/igor-oliyarnik-Uu5aXBI1oLk-unsplash_ipmcev.jpg" 
                alt="Image of restaurant table in Venice" 
                class="col-md-6 float-md-end mb-3 ms-md-3 img-fluid"> 
                {% else %} 
                <img src=" {{ post.featured_image.url }}" 
                class="col-md-6 float-md-end mb-3 ms-md-3 img-fluid"
                alt="Image of food and drink in Venice"> 
                {% endif %} 
                <p class="container-fluid fs-5 post_text">
                    {{ post.content | safe | linebreaks }}
                </p>
            </div> <!-- Post Author Bio if added -->
                    {% if post.author_bio %}
                    <div class="container text-left mx-auto">
                        <div class="col-md-12 card mb-4 mt-3 author">
                            <h3 class="blog_title">
                            {{ post.author | title }} | Author Bio</h3>
                            <div class="card-body">
                                <p class="container-fluid fs-5 post_text author">
                                    {{ post.author_bio | safe | linebreaks }}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <!-- Update / Delete blog post if authenticated -->
        <div class="container text-center">
            <div class="col-sm-12">
                <div class="d-flex justify-content-end"> 
                    {% if request.user == post.author %} 
                    <a href="{% url 'post_edit' post.slug %}" 
                    button type="button" 
                    class="btn btn-primary btn-md me-2 btn-submit">
                        <i class="fa-regular fa-pen-to-square m-1"></i> Update Post
                    </button>
                    </a>
                        <a href="{% url 'post_delete' post.slug %}"  
                        button type="button" class="btn btn-primary btn-md me-2 btn-submit">
                            <i class="fa-solid fa-delete-left m-1"></i> Delete Post
                        </button>
                    </a>
                    {% endif %} 
                </div>
            </div>

            <!-- Likes -->
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        {% if user.is_authenticated %} 
                        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST"> 
                            {% csrf_token %} 
                            {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </button> {% else %} 
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                </button> 
                                {% endif %} 
                        </form> 
                        {% else %} 
                        <span class="text-secondary">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </span> 
                        {% endif %} 
                        <span class="text-secondary">{{ post.number_of_likes }} 
                        </span>
                    </div>
                </div>

    <!-- Social Sharing -->
    <div class="social-sharing container-fluid text-start">
        <div class="col-sm-12">
                <h3 class="text-center mb-4">Share this content:</h3>
                    <div class="d-flex justify-content-center align-items-center flex-wrap">
                        <button class="btn-social button-fb me-3 mb-3">
                            <i class="fa-brands fa-square-facebook fa-facebook"></i>{% post_to_facebook object_or_url "Facebook" %}</button>
                        <button class="btn-social button-x me-3 mb-3">
                            <i class="fa-brands fa-square-x-twitter fa-twitter" aria-hidden="true"></i>{% post_to_twitter "New Song: {{object.title}}. Check it out!" object_or_url "Twitter" %}</button>
                        <button class="btn-social button-w me-3 mb-3">
                            <i class="fa-brands fa-square-whatsapp fa-whatsapp" aria-hidden="true"></i>{% post_to_whatsapp object_or_url "WhatsApp" %}</button>
                        <hr class="mt-4">
                    </div>
        </div>
    </div>

    <!-- Comments -->
    {% for comment in comments %}
    <div class="container text-left mx-auto">
        <div class="row">
            <div class="col-sm-12 card mb-4 mt-3 comments">
                <h3 class="h3">Comments:</h3>
                    <div class="card-body mb-3">  
                        <div class="comments" style="padding: 12px;">
                            <p class="blog_title">
                            {{ comment.name | title }}
                                <span class="text-muted font-weight-normal">
                                {{ comment.created_on }}
                                </span> wrote:
                            </p>
                            <p class="post_text">
                            {{ comment.body | linebreaks }}
                            </p>
                        </div>
                    </div>
                    <!-- Delete comment if authenticated --> 
                    {% if request.user == comment.name %}
                    <span class="text-muted font-weight-normal">Delete your comment?</span>
                        <a href="{% url 'comment_delete' post.slug comment.pk %}" class="btn btn-signup btn-md">
                            <i class="fa-regular fa-pen-to-square"></i> Delete </a>
                        <span class="text-muted font-weight-normal">Update your comment?</span>
                        <a href="{% url 'comment_edit' post.slug comment.pk %}" class="btn btn-signup btn-md">
                            <i class="fa-regular fa-pen-to-square"></i> Edit </a>
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if commented %} 
        <div class="alert alert-success" role="alert"> 
            Your comment is awaiting approval
        </div>
        {% endif %}
    </div>

<!--- Signed in user can leave a comment -->
{% if user.is_authenticated %} 
<div class="container text-left mx-auto d-flex justify-content-center">
    <div class="col-md-12 card mb-4 mt-3 leave_comment" style="padding: 12px;">
        <h3 class="h3">Leave a comment:</h3>
        <p>Posting as: <i class="fa-regular fa-user"></i> 
            {{ user.username | title }}
        </p>
        <!---Form to submit users comment  -->
        <form method="post" style="margin-top: 1.5em;">
            {{ comment_form | crispy }} {% csrf_token %} 
            <button type="submit" class="btn btn-signup btn-submit">Submit
            </button>
        </form> 
    </div> 
    {% else %}
    <!--- If user not authenticated login or register buttons  -->
    <div class="container text-left mx-auto">
        <div class="row">
            <div class="col-md-12 card mb-4 mt-3 comments">
                <p>
                    To leave a comment or like a post, please 
                    <a class="link-register" href="{% url 'account_login' %}">login.</a>
                    If you have not created an account yet, then 
                    <a class="link-register" href="{% url 'account_signup' %}">register</a> 
                    first.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
{% endif %}

 {% endblock content %}